body {
    background: url('park.svg');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center 100px;
}

.bi {
    display: inline-block;
    vertical-align: -.125em;
}

.grad-font {
    background: linear-gradient(-45deg, #FF4E50, #FABD16);
    background: -webkit-linear-gradient(-45deg, #FF4E50, #FABD16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad-bg {
    background: linear-gradient(-45deg, #FF4E50, #FABD16);
    background: -webkit-linear-gradient(-45deg, #FF4E50, #FABD16);
}

.color-green {
    color: #FF4E50;
}

.text-subtle {
    color: #4a4a4a;
}

::placeholder {
    opacity: 0.5 !important;
}

.form-control {
    border: 2px solid #D0D0D0 !important;
}

.form-control:focus {
    box-shadow: none !important;
}