<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Route</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="bg-grad full-height">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Safe.ly</a>
        </div>
    </nav>
    <div class="container full-height col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3"><span class="grad-font">Get home safe.</span> 🏠</h1>
                <p class="col-lg-10 fs-4 text-muted">
                    Safe.ly uses historical crime data and Google's Directions API 
                    to offer a variety of routes to your destination, providing 
                    insights on the safety. 
                </p>
            </div>
            <div class="col-10 mx-auto col-lg-5">
                <form class="p-5 border border-2 rounded-3 bg-white ">
                <div class="mb-3">
                    <label for="starting" class="form-label d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="color-green me-2" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        Enter a starting point
                    </label>
                    <input type="text" class="form-control" id="startingInput" 
                        placeholder="e.g. Northeastern University">
                </div>
                <div class="mb-3">
                    <label for="destInput" class="form-label d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="color-green me-2" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        Enter a destination
                    </label>
                    <input type="text" class="form-control" id="destInput"
                        placeholder="e.g. Boston University">
                </div>
                <div>
                <div class="d-flex align-items-center mt-4">
                    <button type="submit" class="btn btn-dark grad-bg border-0" onclick="showSpinner()">
                        Get Routes
                    </button>
                    <div id="loadingSpinner" class="spinner-border spinner-border-sm ms-auto" role="status" style="display: none;" aria-hidden="true"></div>
                  </div>
                </div>
                </form>
            </div>
        </div>
      </div>
    </div>
    <script>
        function showSpinner() {
            var spinner = document.getElementById("loadingSpinner");
            spinner.style.display = "block";
        }
    </script>
</body>
</html>